* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}


.hero-image{
    background: fixed;
    background-image: url("../assets/rado_hero.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-200%);
    }
}
.animate-scroll {
    animation: scroll 5s ease-in-out infinite;
  }

body{
    font-family: "Barlow", sans-serif;
}


/* home */
.home-hero{
    background: fixed;
    background-image: url("../assets/Banner-0001.png");
    background-size: cover;
}
/* section-3 */
.service,.team, .sec-1 {
    background: fixed;
    background-image: url("../assets/222.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-41{
    background-image: url("../assets/Love.png");
    background-size: contain;
    background-position:  center;
    background-repeat: no-repeat;
}
.img-gallery:hover{
    background-color: rgb(225, 225, 225, 0.8);
}
.client{
    background: fixed;
    background-image: url("../assets/5555.jpg");
    background-size: cover
    ;
}

 /* Hide scrollbar */
    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .hide-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;     /* Firefox */
    }

.para{
 animation: ani 2s infinite ease-in-out;
}

@keyframes ani{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/* footer */
